<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGASQLI</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!-- CSS | STYLE -->
        <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/linecons.css" />
        <link rel="stylesheet" type="text/css" href="~/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="~/css/brown.css" id="csscolors" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
        <!-- CSS | Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,300,500,600' rel='stylesheet' type='text/css'>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>

    <!-- Page preloader -->
    <div id="page-loader">
        <canvas id="demo-canvas"></canvas>
    </div>
    <!-- container -->
    <div id="hs-container" class="hs-container">

        <aside class="hs-menu" id="hs-menu">
            <!-- <canvas id="demo-canvas"></canvas> -->
            <!-- Logo Image-->
            <div class="hs-headline">
                <a id="my-link" href="#my-panel"><i class="fa fa-bars"></i></a>
                <a href="#" class="download"><i class="fa fa-cloud-download"></i></a>
                <img src="images/logo.png" alt="" />

                <div class="profile_info">
                    <h4>aelfarh@sqli.com</h4>
                    <h6><span class="fa fa-location-arrow"></span>&nbsp;&nbsp;&nbsp;Assistance site Oujda</h6>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="separator-aside"></div>
            <!-- End Logo Image-->
            <!-- menu -->
            <nav>
                <a href="#section6"><span class="menu_name">En attente</span><span class="fa fa-users"></span> </a>
                <a href="#section1"><span class="menu_name">Mes tâches</span><span class="fa fa-stack-exchange"></span> </a>
                <a href="#section2"><span class="menu_name">Mettre à jour</span><span class="fa fa-eye"></span> </a>
                <a href="#section3"><span class="menu_name">Attestations de stage</span><span class="fa fa-laptop"></span> </a>
                <a href="#section4"><span class="menu_name">Lettres de démission</span><span class="fa fa-reply-all"></span> </a>
                <a href="#section4"><span class="menu_name">Historiques</span><span class="fa fa-history"></span> </a>
                <a href="#section5"><span class="menu_name">Statistiques</span><span class="fa fa-bar-chart"></span> </a>
            </nav>
            <!-- end menu-->
            <!-- social icons -->
            <div class="aside-footer">
                <a href="http://app.sqli.com" target="_blank"><i class="fa fa fa-dribbble"></i></a>
                <a href="http://outlook.office.com" target="_blank"><i class="fa fa-envelope-o"></i></a>
                <a href="https://isc-careers.maroc.sqli.com/" target="_blank"><i class="fa fa-laptop"></i></a>

            </div>
            <!-- end social icons -->
        </aside>
        <!-- End sidebar -->
        <!-- Go To Top Button -->
        <a href="#hs-menu" class="hs-totop-link"><i class="fa fa-chevron-up"></i></a>
        <!-- End Go To Top Button -->
        <!-- hs-content-scroller -->
        <div class="hs-content-scroller">
            <!-- Header -->
            <div id="header_container">
                <div id="header">
                    <div>
                        <a class="home"><i class="fa fa-home"></i></a>
                    </div>
                    <div>
                        <a href="" class="previous-page arrow"><i class="fa fa-angle-left"></i></a>
                    </div>
                    <div>
                        <a href="" class="next-page arrow"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <!-- News scroll -->
                    <div class="news-scroll">
                        <span><i class="fa fa-line-chart"></i>RECENT ACTIVITY : </span>

                    </div>
                    <!-- End News scroll -->
                </div>
            </div>
            <div class="container body-content">
                <div class="hs-content-wrapper">
                    <article class="hs-content about-section" id="section1">
                        @RenderBody()
                        <br>
                    </article>
                </div>
                <hr />
            </div>
        </div>
    </div>
    <!-- End container -->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript" src="~/js/default.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="~/js/watch.js"></script>
        <script type="text/javascript" src="~/js/layout.js"></script>
        <script type="text/javascript" src="~/js/main.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>